<ion-content no-bounce>
  <ion-grid no-padding>
    <ion-row class="top-row" align-items-start>
      <ion-col class="logo-col">
        <img src="./assets/images/logo-admin.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <h1>Current Devices</h1>
    </ion-row>
    <ion-row class="devices-row">
      <ion-col>
        <ion-grid no-padding>
          <ion-row *ngFor="let user of users | async" [ngClass]="getStateClass(user.state)">
            <ion-col col-4 class="col-name">
              {{user.$key}}
            </ion-col>
            <ion-col col-2 class="col-state">
              {{getStateName(user.state)}}
            </ion-col>
            <ion-col col-5 class="col-battery">
              <div *ngIf="user.battery != null" class="battery-status" [ngClass]="getBatteryClass(user.battery)">
                <div [style.width.%]="user.battery"></div>
                <span>{{user.battery}}%</span>
              </div>
              <div *ngIf="user.battery == null">Battery Unknown</div>
            </ion-col>
            <ion-col col-1 class="col-charging">
              <ion-icon *ngIf="user.charging" name="battery-charging"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <h1>
        Entries 
        <span>
          <a (click)="chooseWinner()">Choose Winner</a>
          <a (click)="exportCsv()">Export Csv</a>
        </span>
      </h1>
    </ion-row>
    <ion-row class="entries-info-row">
      <ion-col>
        Their are currently <strong>{{(entryCount | async)?.$value}}</strong> entries in the system. The
        last entry was <strong>{{(lastEntry | async)?.$value | amTimeAgo}}</strong>.
      </ion-col>
    </ion-row>
    <ion-row>
      <h3>
        Recent
        <span>
          <a *ngIf="false" (click)="viewAll()">View All</a>
        </span>
      </h3>
    </ion-row>
    <ion-row class="entries-row">
      <ion-col>
        <ion-grid no-padding>
          <ion-row class="entries-heading">
            <ion-col col-5>
              Name
            </ion-col>
            <ion-col col-5>
              Time
            </ion-col>
            <ion-col col-2>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let entry of entries | async | reverse" >
            <ion-col col-5 class="col-name">
              {{entry.name}}
            </ion-col>
            <ion-col col-5 *ngIf="entry.created">
              {{entry.created | amTimeAgo}}
            </ion-col>
            <ion-col col-5 *ngIf="!entry.created">
              Unknown
            </ion-col>
            <ion-col col-2>
              <a (click)="openEntry(entry)">View</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row class="footer-row">
      <ion-col>
        <img src="./assets/images/footer_logos.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
